
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h4 style="color:white;">接口：@(ViewBag.Data.InterfaceName)</h4>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
                -->
        </div>
    </div>
</nav>
<div>
    <div class="panel-body">
        <span class="text-danger">接口描述：</span>
        <span class="text-info">@(ViewBag.Data.Description)</span>
    </div>
    <div class="panel-body">
        <span class="text-danger">回参描述：</span>
        <span class="text-info">@(ViewBag.Data.ReturnDesc)</span>
    </div>
    <div class="panel-body">
        <span class="text-danger">回参类型信息：</span>
        <span class="text-info">
            @if (ViewBag.Data.ReturnTypeInfo.IsClass)
            {
                <a href="/ServiceDiscovery/TypeDescription/@(ViewBag.Data.ReturnTypeInfo.FullTypeName.Replace(".","-"))" target="_blank">
                    @(ViewBag.Data.ReturnTypeInfo.TypeName)
                </a>
            }
            else
            {
                <span>@(ViewBag.Data.ReturnTypeInfo.TypeName)</span>
            }
        </span>
    </div>
    <div class="panel-body"><span class="text-danger">参数信息</span></div>
    <div class="panel-body">
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <td width="10%">顺序</td>
                    <td width="20%">名称</td>
                    <td width="30%">类型</td>
                    <td width="40%">描述</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Data.Parameters)
                {
                    <tr>
                        <td>@(item.Index)</td>
                        <td>@(item.Name)</td>
                        <td>
                            @if (item.TypeInfo.IsClass)
                            {
                                <span><a href="/ServiceDiscovery/TypeDescription/@(item.TypeInfo.FullTypeName.Replace(".","-"))" target="_blank">@(item.TypeInfo.TypeName)</a></span>
                            }
                            else
                            {
                                <span>@(item.TypeInfo.TypeName)</span>
                            }
                        </td>
                        <td>@(item.Description)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        <form action="" method="get">
            <input type="submit" value="生成Request" />
        </form>
    </div>
</div>

